@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.distance {
  margin-top: 2rem;
  font-size: 2rem;
}

#my_map {
  margin-top: 1rem;
  border-radius: 1rem;
  height: 60vh;
  width: 50vw;
}

.form {
  margin-top: 2rem;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input {
  border-radius: 5px 0 0 5px;
  padding: 5px;
  margin: 0;
  font-size: medium;
  border: none;
  outline: none;
}

.input-container .btnForm {
  border-radius: 0 5px 5px 0;
  margin: 0;
  padding: 5px 10px;
  font-size: medium;
  background-color: #8a2be2;
  color: #fff;
  cursor: pointer;
}

.input-container .btnForm:active {
  background-color: #6a0dad;
}

.latlong {
  padding: 1rem;
}

.btnForm {
  margin-left: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.ubicate {
  background: transparent;
  border: none;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.ubicate img {
  width: 2rem;
  height: 2rem;
}

@media (width <= 400px) {
  #my_map {
    height: 70vh;
    width: 90vw;
  }
}

@media (400px <= width <= 800px) {
  #my_map {
    height: 70vh;
    width: 90vw;
  }
}

@media (width >= 800px) {
  #my_map {
    height: 70vh;
    width: 90vw;
  }
}
